<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.openv.mybatis.example.foreach"  >
 
	<select id="selectAll"  parameterType="list"  resultType="com.openv.mybatis.example.Customer"  >
		SELECT
		customer_id AS customerId ,
		store_id AS storeId,
		first_name AS firstName,
		last_name AS lastName,
		email,
		address_id AS
		addressId,
		active,
		create_date AS createDate,
		last_update AS lastUpdate
		FROM customer WHERE
		first_name IN  
		<foreach collection="array" item="name" open="("  separator="," close=")">
			#{name}
		</foreach>
	</select>
	

</mapper>
