<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.openv.mybatis.example"   >

	<select id="selectById" resultType="com.openv.mybatis.example.Customer"   databaseId="oracle"
		parameterType="string" lang="org.apache.ibatis.submitted.language.VelocityLanguageDriver1111" >
		SELECT
		customer_id AS customerId ,
		store_id AS storeId,
		first_name AS firstName,
		last_name AS lastName,
		email,
		address_id AS
		addressId,
		active,
		create_date AS createDate,
		last_update AS lastUpdate
		FROM customer WHERE customer_id = #{customerId}
	</select>
	
	<select id="selectById" resultType="com.openv.mybatis.example.Customer"  databaseId="mysql"
		parameterType="string">
		SELECT
		customer_id AS customerId ,
		store_id AS storeId,
		first_name AS firstName,
		last_name AS lastName,
		email,
		address_id AS
		addressId,
		active,
		create_date AS createDate,
		last_update AS lastUpdate
		FROM customer WHERE customer_id = #{customerId}
	</select>

	<insert id="insertCustomer" parameterType="com.openv.mybatis.example.Customer">
		INSERT INTO customer (
		customer_id,
		store_id,
		first_name ,
		last_name ,
		email,
		address_id,
		active,
		create_date,
		last_update
		)VALUES (
		#{customerId},
		#{storeId},
		#{firstName},
		#{lastName},
		#{email},
		#{addressId},
		#{active},
		#{createDate},
		#{lastUpdate,jdbcType=TIMESTAMP}
		)
	</insert>

	<update id="updateCustomer" parameterType="com.openv.mybatis.example.Customer">
		UPDATE customer SET
		first_name= #{firstName},
		last_name=#{lastName},
		email= #{email},
		active= #{active}
		WHERE customer_id = #{customerId}
	</update>

	<delete id="deleteById" parameterType="string">
		DELETE customer WHERE
		customer_id = #{customerId}
	</delete>

</mapper>
