<?xml version="1.0" encoding="UTF-8"?>
<!--

       Copyright 2009-2012 The MyBatis Team

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.openv.mybatis.example.mapper.VelocityMapper">
 
  <sql id="nested">
       first_name as firstName ,last_name as lastName ,email
  </sql>


  <select id="getNameWithParam" resultType="com.openv.mybatis.example.vo.CustomerVO">
       SELECT <include refid="nested" /> FROM customer WHERE last_name LIKE @{lastName}
  </select>
 <select id="getNameWithExpression" resultType="com.openv.mybatis.example.vo.CustomerVO">
    #set( $pattern = $_parameter.lastName + "%" )
    SELECT <include refid="nested" />
    FROM customer
    WHERE last_name LIKE @{pattern, javaType=string}
  </select>
  
  <select id="getNameWithIterExpression" resultType="com.openv.mybatis.example.vo.CustomerVO">
    SELECT <include refid="nested" />
    FROM customer
    #where()
      #repeat($_parameter.ids $id ',' 'customer_id IN (' ')')
        @{id}
      #end
    #end
  </select>

</mapper>