<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<!-- 配置分页查询拦截器 -->
	<plugins>
		<plugin interceptor="com.openv.mybatis.example.paged.MyPagedInterceptor"></plugin>
	</plugins>
	 
	<environments default="mysql">
		<!-- MySQL数据库环境 -->
		<environment id="mysql">
			<transactionManager type="JDBC"   />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/sakila" />
				<property name="username" value="root" />
				<property name="password" value="" />
			</dataSource>
		</environment>
		<!-- Oracle数据库环境 -->
		<environment id="oracle">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl" />
				<!-- 
				scott帐号默认是禁用。请使用有oracle管理员权限的帐号登录数据库，
				然后执行下列命令进行解锁：
				ALTER USER scott ACCOUNT UNLOCK;
				同时修改scott登录密码，执行下列语句。
				ALTER USER scott IDENTIFIED BY scott;
				 -->
				<property name="username" value="scott" />
				<property name="password" value="scott" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="com/openv/mybatis/example/customer-mapper.xml"  /> 
	</mappers>

</configuration>